{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter', sans-serif;
color:#222;
}

/* TOP BAR */
.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.55); /* semitransparente elegante */
    padding: 15px 60px; /* un poco más alta */
    color: #fff;
    font-size: 13px;
    z-index: 20;
}

/* Topbar left (logo) */
.topbar-left {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    position: relative;
    margin-right: 20px;
}

.logo-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px; /* más ancho que el logo */
    height: 50px; /* más alto */
    background: rgba(0,0,0,0.35);
    border-radius: 10px;
    z-index: -1;
}

.logo img {
    height: 95px;
    width: auto;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.6));
}

/* NAVBAR (solo menú) */
.navbar {
    position: absolute;
    top: 120px; /* debajo del topbar */
    width: 100%;
    display: flex;
    justify-content: center; /* centramos menú */
    padding: 15px 60px;
    z-index: 10;
}

.navbar nav a {
    margin: 0 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.portal-btn {
    border:1px solid white;
    padding:8px 18px;
    border-radius:4px;
}


/* HERO */

.hero{
height:100vh;
background-image:url("hero.jpg");
background-size:cover;
background-position:center;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.45);
}

/* HERO CONTENT */

.hero-content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
color:white;
max-width:900px;
padding:20px;
}

.hero-content h1{
font-family:'Playfair Display', serif;
font-size:52px;
font-weight:500;
margin-bottom:20px;
}

.hero-content p{
font-size:18px;
margin-bottom:30px;
opacity:.9;
}

/* BUTTONS */

.hero-buttons{
display:flex;
justify-content:center;
gap:20px;
}

.primary{
background:white;
color:black;
border:none;
padding:14px 28px;
cursor:pointer;
font-size:14px;
}

.secondary{
background:transparent;
border:1px solid white;
color:white;
padding:14px 28px;
cursor:pointer;
font-size:14px;
}

.primary:hover{
background:#eee;
}

.secondary:hover{
background:white;
color:black;
}
